	<% if task_item.completed? %>
			<p><%= link_to "Done", complete_task_list_task_item_path(@task_list, task_item.id), method: :patch %>

			<p><%= task_item.content %></p>
			<%= link_to "Delete", task_list_task_item_path(@task_list, task_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
			</p>
	<% else %>
			<p><%= link_to "Done", complete_task_list_task_item_path(@task_list, task_item.id), method: :patch %>
			<p><%= task_item.content %></p>
			<%= link_to "Delete", task_list_task_item_path(@task_list, task_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
			</p>
	<% end %>
