<div class="task-list">
<h1 class="task-heading" >Task List</h1>
  <div class="tl-content container">
    <% @task_lists.each do |task_list| %>
      <div class="t-d">
        <h2 class="t-title"><%= link_to task_list.title, task_list %></h2>
        <p class="desc"><%= task_list.description %></p>
      </div>
    <% end %>
  </div>

  <div class="new-list container">
    <%= link_to 'New Task list', new_task_list_path %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_list.description %>
</p>

<div id="todo_items_wrapper">
	<%= render @task_list.task_items %>
	<div id="form">
		<%= render "task_items/form" %>
	</div>
</div>
<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
