<div class="task-list">
<p id="notice"><%= notice %></p>
	<div class="tl-content container">
		<div class="t-d">
			<h2 class="t-title"> <%= @task_list.title %> </h2>
			<p class="desc"><%= @task_list.description %></p>
		</div>
		<div id="todo_items_wrapper">
			<%= render @task_list.task_items %>
			<div id="form">
				<%= render "task_items/form" %>
			</div>
		</div>
	</div>
</div>



<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
