<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task_list.description %>
</p>

<div id="todo_items_wrapper">
	<%= render @task_list.task_items %>
	<div id="form">
		<%= render "task_items/form" %>
	</div>
</div>
<%= link_to 'Edit', edit_task_list_path(@task_list) %> |
<%= link_to 'Back', task_lists_path %>
