<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<div id="notification">
	<p class="notice"><%= notice %></p>
</div>
<% elsif alert %>
<div id="notification">
	<p class="alert"><%= alert %></p>
</div>
<% end %>

<%= yield %>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(function(){
			$('#notification').fadeOut("slow", function(){
				$(this).remove();
			})
		}, 4000);
	});
</script>
</body>
</html>
